.literal.highlight.highlight-source    { background: #FFFFFF; color:mediumpurple;                    }
.literal.highlight.highlight-todo      { background: #FFFFFF; color:red;                             }
.literal.highlight.highlight-rule      { background: #FFFFFF; color:blue;         font-weight: bold; }
