/* Highlight "roles" */

.literal.highlight.highlight-spec        { background: #FFFFFF; color:#222222; font-weight: bold; font-size: small; }
.literal.highlight.highlight-unit        { background: #FFFFFF; color:#222222; font-weight: bold; font-size: small; }
.literal.highlight.highlight-interface   { background: #FFFFFF; color:#222222; font-weight: bold; font-size: small; }
.literal.highlight.highlight-requirement { background: #FFFFFF; color:#222222; font-weight: bold; font-size: small; }
.literal.highlight.highlight-srs         { background: #FFFFFF; color:#222222; font-weight: bold; font-size: small; }
.literal.highlight.highlight-mod         { background: #FFFFFF; color:#222222; font-weight: bold; font-size: small; }
.literal.highlight.highlight-information { background: #FFFFFF; color:#999999; font-weight: bold; font-size: small; }

.literal.highlight.highlight-prop        { background: #FFFFFF; color:green;   font-weight: bold;                   }

/* Colors for labels */

.dox-trace-red  { color:rgb(253,  13,  27); }
.dox-trace-grey { color:rgb(128, 128, 128); }

/* Border for dox_trace objects like requirement or spec */

table.docutils.dox-trace-border {  border: double 1px grey; position: relative }

/* Hide specifications until shown via jquery */

.dox-trace-initially-hidden {
    visibility: hidden;
    opacity:0;
}

.dox-trace-remove-opacity {
    opacity: inherit;
}

/* Some tables in traceability report need smaller font size */

.dox-trace-small-font-table {
    font-size: small !important;
}

/* Tables of invalid and rejected elements are struck through */

.dox-trace-strikethrough-table {
    position: absolute;
    opacity: 0.5;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom right,
        transparent calc(50% - 1px),
        grey,
        transparent calc(50% + 1px));
}

.dox-trace-strikethrough-cell {
    background-image: linear-gradient(
            to top right,
            transparent calc(50% - 1px),
            lightgrey,
            transparent calc(50% + 1px));
    pointer-events: none;
}

.dox-trace-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}

.dox-trace-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;
}

/* close button */
.dox-trace-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dox-trace-close:hover,
.dox-trace-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
